In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/student_marksheet.csv')

In [ ]:
print(df.head(5))

        Name         PRN  Roll No  Subject1 Marks  Subject2 Marks  \
0  Student 1  1032233101        1              71              76
1  Student 2  1032233102        2              72              77
2  Student 3  1032233103        3              73              78
3  Student 4  1032233104        4              74              79
4  Student 5  1032233105        5              75              80

   Subject3 Marks  Subject4 Marks  Total Marks
0              81              86          314
1              82              87          318
2              83              88          322
3              84              89          326
4              85              90          330

In [ ]:
print(df.tail(5))

          Name         PRN  Roll No  Subject1 Marks  Subject2 Marks  \
20  Student 21  1032233121       21              71              76
21  Student 22  1032233122       22              72              77
22  Student 23  1032233123       23              73              78
23  Student 24  1032233124       24              74              79
24  Student 25  1032233125       25              75              80

    Subject3 Marks  Subject4 Marks  Total Marks
20              81              86          314
21              82              87          318
22              83              88          322
23              84              89          326
24              85              90          330

In [ ]:
print(df.shape)

(25, 8)

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            25 non-null     object
 1   PRN             25 non-null     int64
 2   Roll No         25 non-null     int64
 3   Subject1 Marks  25 non-null     int64
 4   Subject2 Marks  25 non-null     int64
 5   Subject3 Marks  25 non-null     int64
 6   Subject4 Marks  25 non-null     int64
 7   Total Marks     25 non-null     int64
dtypes: int64(7), object(1)
memory usage: 1.7+ KB
None

In [ ]:
print(df.describe())

                PRN    Roll No  Subject1 Marks  Subject2 Marks  \
count  2.500000e+01  25.000000       25.000000       25.000000
mean   1.032233e+09  13.000000       74.200000       79.200000
std    7.359801e+00   7.359801        2.768875        2.768875
min    1.032233e+09   1.000000       70.000000       75.000000
25%    1.032233e+09   7.000000       72.000000       77.000000
50%    1.032233e+09  13.000000       74.000000       79.000000
75%    1.032233e+09  19.000000       76.000000       81.000000
max    1.032233e+09  25.000000       79.000000       84.000000

       Subject3 Marks  Subject4 Marks  Total Marks
count       25.000000       25.000000    25.000000
mean        84.200000       89.200000   326.800000
std          2.768875        2.768875    11.075498
min         80.000000       85.000000   310.000000
25%         82.000000       87.000000   318.000000
50%         84.000000       89.000000   326.000000
75%         86.000000       91.000000   334.000000
max         89.000000       94.000000   346.000000

In [ ]:
print(df.describe(include='all'))

             Name           PRN    Roll No  Subject1 Marks  Subject2 Marks  \
count          25  2.500000e+01  25.000000       25.000000       25.000000
unique         25           NaN        NaN             NaN             NaN
top     Student 1           NaN        NaN             NaN             NaN
freq            1           NaN        NaN             NaN             NaN
mean          NaN  1.032233e+09  13.000000       74.200000       79.200000
std           NaN  7.359801e+00   7.359801        2.768875        2.768875
min           NaN  1.032233e+09   1.000000       70.000000       75.000000
25%           NaN  1.032233e+09   7.000000       72.000000       77.000000
50%           NaN  1.032233e+09  13.000000       74.000000       79.000000
75%           NaN  1.032233e+09  19.000000       76.000000       81.000000
max           NaN  1.032233e+09  25.000000       79.000000       84.000000

        Subject3 Marks  Subject4 Marks  Total Marks
count        25.000000       25.000000    25.000000
unique             NaN             NaN          NaN
top                NaN             NaN          NaN
freq               NaN             NaN          NaN
mean         84.200000       89.200000   326.800000
std           2.768875        2.768875    11.075498
min          80.000000       85.000000   310.000000
25%          82.000000       87.000000   318.000000
50%          84.000000       89.000000   326.000000
75%          86.000000       91.000000   334.000000
max          89.000000       94.000000   346.000000

In [ ]:
print(df.columns)

Index(['Name', 'PRN', 'Roll No', 'Subject1 Marks', 'Subject2 Marks',
       'Subject3 Marks', 'Subject4 Marks', 'Total Marks'],
      dtype='object')

In [ ]:
print(df.isnull().sum())

Name              0
PRN               0
Roll No           0
Subject1 Marks    0
Subject2 Marks    0
Subject3 Marks    0
Subject4 Marks    0
Total Marks       0
dtype: int64

In [ ]:
print(df.isnull().describe())

         Name    PRN Roll No Subject1 Marks Subject2 Marks Subject3 Marks  \
count      25     25      25             25             25             25
unique      1      1       1              1              1              1
top     False  False   False          False          False          False
freq       25     25      25             25             25             25

       Subject4 Marks Total Marks
count              25          25
unique              1           1
top             False       False
freq               25          25

In [ ]:
df = df.drop_duplicates()
print("\nDataset after removing duplicates:")
print(df)

Dataset after removing duplicates:
          Name         PRN  Roll No  Subject1 Marks  Subject2 Marks  \
0    Student 1  1032233101        1              71              76
1    Student 2  1032233102        2              72              77
2    Student 3  1032233103        3              73              78
3    Student 4  1032233104        4              74              79
4    Student 5  1032233105        5              75              80
5    Student 6  1032233106        6              76              81
6    Student 7  1032233107        7              77              82
7    Student 8  1032233108        8              78              83
8    Student 9  1032233109        9              79              84
9   Student 10  1032233110       10              70              75
10  Student 11  1032233111       11              71              76
11  Student 12  1032233112       12              72              77
12  Student 13  1032233113       13              73              78
13  Student 14  1032233114       14              74              79
14  Student 15  1032233115       15              75              80
15  Student 16  1032233116       16              76              81
16  Student 17  1032233117       17              77              82
17  Student 18  1032233118       18              78              83
18  Student 19  1032233119       19              79              84
19  Student 20  1032233120       20              70              75
20  Student 21  1032233121       21              71              76
21  Student 22  1032233122       22              72              77
22  Student 23  1032233123       23              73              78
23  Student 24  1032233124       24              74              79
24  Student 25  1032233125       25              75              80

    Subject3 Marks  Subject4 Marks  Total Marks
0               81              86          314
1               82              87          318
2               83              88          322
3               84              89          326
4               85              90          330
5               86              91          334
6               87              92          338
7               88              93          342
8               89              94          346
9               80              85          310
10              81              86          314
11              82              87          318
12              83              88          322
13              84              89          326
14              85              90          330
15              86              91          334
16              87              92          338
17              88              93          342
18              89              94          346
19              80              85          310
20              81              86          314
21              82              87          318
22              83              88          322
23              84              89          326
24              85              90          330

In [ ]:
print(df.isnull().sum())

Name              0
PRN               0
Roll No           0
Subject1 Marks    0
Subject2 Marks    0
Subject3 Marks    0
Subject4 Marks    0
Total Marks       0
dtype: int64

# Replace missing values with meaningful values

In [ ]:
df.fillna({
    col: df[col].mean() if df[col].dtype != 'object' else 'Unknown'
    for col in df.columns
}, inplace=True)

print("\nDataset after replacing missing values:")
print(df)

Dataset after replacing missing values:
          Name         PRN  Roll No  Subject1 Marks  Subject2 Marks  \
0    Student 1  1032233101        1              71              76
1    Student 2  1032233102        2              72              77
2    Student 3  1032233103        3              73              78
3    Student 4  1032233104        4              74              79
4    Student 5  1032233105        5              75              80
5    Student 6  1032233106        6              76              81
6    Student 7  1032233107        7              77              82
7    Student 8  1032233108        8              78              83
8    Student 9  1032233109        9              79              84
9   Student 10  1032233110       10              70              75
10  Student 11  1032233111       11              71              76
11  Student 12  1032233112       12              72              77
12  Student 13  1032233113       13              73              78
13  Student 14  1032233114       14              74              79
14  Student 15  1032233115       15              75              80
15  Student 16  1032233116       16              76              81
16  Student 17  1032233117       17              77              82
17  Student 18  1032233118       18              78              83
18  Student 19  1032233119       19              79              84
19  Student 20  1032233120       20              70              75
20  Student 21  1032233121       21              71              76
21  Student 22  1032233122       22              72              77
22  Student 23  1032233123       23              73              78
23  Student 24  1032233124       24              74              79
24  Student 25  1032233125       25              75              80

    Subject3 Marks  Subject4 Marks  Total Marks
0               81              86          314
1               82              87          318
2               83              88          322
3               84              89          326
4               85              90          330
5               86              91          334
6               87              92          338
7               88              93          342
8               89              94          346
9               80              85          310
10              81              86          314
11              82              87          318
12              83              88          322
13              84              89          326
14              85              90          330
15              86              91          334
16              87              92          338
17              88              93          342
18              89              94          346
19              80              85          310
20              81              86          314
21              82              87          318
22              83              88          322
23              84              89          326
24              85              90          330

In [ ]:
# Statistical Summary:
print(df.describe())

                PRN    Roll No  Subject1 Marks  Subject2 Marks  \
count  2.500000e+01  25.000000       25.000000       25.000000
mean   1.032233e+09  13.000000       74.200000       79.200000
std    7.359801e+00   7.359801        2.768875        2.768875
min    1.032233e+09   1.000000       70.000000       75.000000
25%    1.032233e+09   7.000000       72.000000       77.000000
50%    1.032233e+09  13.000000       74.000000       79.000000
75%    1.032233e+09  19.000000       76.000000       81.000000
max    1.032233e+09  25.000000       79.000000       84.000000

       Subject3 Marks  Subject4 Marks  Total Marks
count       25.000000       25.000000    25.000000
mean        84.200000       89.200000   326.800000
std          2.768875        2.768875    11.075498
min         80.000000       85.000000   310.000000
25%         82.000000       87.000000   318.000000
50%         84.000000       89.000000   326.000000
75%         86.000000       91.000000   334.000000
max         89.000000       94.000000   346.000000

In [ ]:
# Data Encoding
from sklearn.preprocessing import LabelEncoder

In [ ]:
#Finding the categorical columns in dataset
categorical_cols = df.select_dtypes(include=['object']).columns
print("\nCategorical Columns:")
print(categorical_cols)

Categorical Columns:
Index(['Name'], dtype='object')

In [ ]:
# Applying the Label Encoding
label_encoded_df = df.copy()
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    label_encoded_df[col] = le.fit_transform(label_encoded_df[col].astype(str))
    label_encoders[col] = le

print("\nDataset after Label Encoding:")
print(label_encoded_df)

Dataset after Label Encoding:
    Name         PRN  Roll No  Subject1 Marks  Subject2 Marks  Subject3 Marks  \
0      0  1032233101        1              71              76              81
1     11  1032233102        2              72              77              82
2     18  1032233103        3              73              78              83
3     19  1032233104        4              74              79              84
4     20  1032233105        5              75              80              85
5     21  1032233106        6              76              81              86
6     22  1032233107        7              77              82              87
7     23  1032233108        8              78              83              88
8     24  1032233109        9              79              84              89
9      1  1032233110       10              70              75              80
10     2  1032233111       11              71              76              81
11     3  1032233112       12              72              77              82
12     4  1032233113       13              73              78              83
13     5  1032233114       14              74              79              84
14     6  1032233115       15              75              80              85
15     7  1032233116       16              76              81              86
16     8  1032233117       17              77              82              87
17     9  1032233118       18              78              83              88
18    10  1032233119       19              79              84              89
19    12  1032233120       20              70              75              80
20    13  1032233121       21              71              76              81
21    14  1032233122       22              72              77              82
22    15  1032233123       23              73              78              83
23    16  1032233124       24              74              79              84
24    17  1032233125       25              75              80              85

    Subject4 Marks  Total Marks
0               86          314
1               87          318
2               88          322
3               89          326
4               90          330
5               91          334
6               92          338
7               93          342
8               94          346
9               85          310
10              86          314
11              87          318
12              88          322
13              89          326
14              90          330
15              91          334
16              92          338
17              93          342
18              94          346
19              85          310
20              86          314
21              87          318
22              88          322
23              89          326
24              90          330

In [ ]:
# Applying the one hot encoding
one_hot_encoded_df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

print("\nDataset after One-Hot Encoding:")
print(one_hot_encoded_df)

Dataset after One-Hot Encoding:
           PRN  Roll No  Subject1 Marks  Subject2 Marks  Subject3 Marks  \
0   1032233101        1              71              76              81
1   1032233102        2              72              77              82
2   1032233103        3              73              78              83
3   1032233104        4              74              79              84
4   1032233105        5              75              80              85
5   1032233106        6              76              81              86
6   1032233107        7              77              82              87
7   1032233108        8              78              83              88
8   1032233109        9              79              84              89
9   1032233110       10              70              75              80
10  1032233111       11              71              76              81
11  1032233112       12              72              77              82
12  1032233113       13              73              78              83
13  1032233114       14              74              79              84
14  1032233115       15              75              80              85
15  1032233116       16              76              81              86
16  1032233117       17              77              82              87
17  1032233118       18              78              83              88
18  1032233119       19              79              84              89
19  1032233120       20              70              75              80
20  1032233121       21              71              76              81
21  1032233122       22              72              77              82
22  1032233123       23              73              78              83
23  1032233124       24              74              79              84
24  1032233125       25              75              80              85

    Subject4 Marks  Total Marks  Name_Student 10  Name_Student 11  \
0               86          314            False            False
1               87          318            False            False
2               88          322            False            False
3               89          326            False            False
4               90          330            False            False
5               91          334            False            False
6               92          338            False            False
7               93          342            False            False
8               94          346            False            False
9               85          310             True            False
10              86          314            False             True
11              87          318            False            False
12              88          322            False            False
13              89          326            False            False
14              90          330            False            False
15              91          334            False            False
16              92          338            False            False
17              93          342            False            False
18              94          346            False            False
19              85          310            False            False
20              86          314            False            False
21              87          318            False            False
22              88          322            False            False
23              89          326            False            False
24              90          330            False            False

    Name_Student 12  ...  Name_Student 23  Name_Student 24  Name_Student 25  \
0             False  ...            False            False            False
1             False  ...            False            False            False
2             False  ...            False            False            False
3             False  ...            False            False            False
4             False  ...            False            False            False
5             False  ...            False            False            False
6             False  ...            False            False            False
7             False  ...            False            False            False
8             False  ...            False            False            False
9             False  ...            False            False            False
10            False  ...            False            False            False
11             True  ...            False            False            False
12            False  ...            False            False            False
13            False  ...            False            False            False
14            False  ...            False            False            False
15            False  ...            False            False            False
16            False  ...            False            False            False
17            False  ...            False            False            False
18            False  ...            False            False            False
19            False  ...            False            False            False
20            False  ...            False            False            False
21            False  ...            False            False            False
22            False  ...             True            False            False
23            False  ...            False             True            False
24            False  ...            False            False             True

    Name_Student 3  Name_Student 4  Name_Student 5  Name_Student 6  \
0            False           False           False           False
1            False           False           False           False
2             True           False           False           False
3            False            True           False           False
4            False           False            True           False
5            False           False           False            True
6            False           False           False           False
7            False           False           False           False
8            False           False           False           False
9            False           False           False           False
10           False           False           False           False
11           False           False           False           False
12           False           False           False           False
13           False           False           False           False
14           False           False           False           False
15           False           False           False           False
16           False           False           False           False
17           False           False           False           False
18           False           False           False           False
19           False           False           False           False
20           False           False           False           False
21           False           False           False           False
22           False           False           False           False
23           False           False           False           False
24           False           False           False           False

    Name_Student 7  Name_Student 8  Name_Student 9
0            False           False           False
1            False           False           False
2            False           False           False
3            False           False           False
4            False           False           False
5            False           False           False
6             True           False           False
7            False            True           False
8            False           False            True
9            False           False           False
10           False           False           False
11           False           False           False
12           False           False           False
13           False           False           False
14           False           False           False
15           False           False           False
16           False           False           False
17           False           False           False
18           False           False           False
19           False           False           False
20           False           False           False
21           False           False           False
22           False           False           False
23           False           False           False
24           False           False           False

[25 rows x 31 columns]

In [ ]:
description_table = pd.DataFrame({
    "Column Name": df.columns,
    "Data Type": df.dtypes,
    "Unique Values Count": df.nunique(),
    "Missing Values Count": df.isnull().sum(),
    "Sample Values": [df[col].unique()[:5] for col in df.columns]
})

# Display the description table
print("\nData Description Table:")
print(description_table)

Data Description Table:
                   Column Name Data Type  Unique Values Count  \
Name                      Name    object                   25
PRN                        PRN     int64                   25
Roll No                Roll No     int64                   25
Subject1 Marks  Subject1 Marks     int64                   10
Subject2 Marks  Subject2 Marks     int64                   10
Subject3 Marks  Subject3 Marks     int64                   10
Subject4 Marks  Subject4 Marks     int64                   10
Total Marks        Total Marks     int64                   10

                Missing Values Count  \
Name                               0
PRN                                0
Roll No                            0
Subject1 Marks                     0
Subject2 Marks                     0
Subject3 Marks                     0
Subject4 Marks                     0
Total Marks                        0

                                                    Sample Values
Name            [Student 1, Student 2, Student 3, Student 4, S...
PRN             [1032233101, 1032233102, 1032233103, 103223310...
Roll No                                           [1, 2, 3, 4, 5]
Subject1 Marks                               [71, 72, 73, 74, 75]
Subject2 Marks                               [76, 77, 78, 79, 80]
Subject3 Marks                               [81, 82, 83, 84, 85]
Subject4 Marks                               [86, 87, 88, 89, 90]
Total Marks                             [314, 318, 322, 326, 330]